/* font-family: 'Lato', sans-serif; */

 :root {
    --black: #000;
    --dark-blue: #1F2833;
    --dark-purple: #3e1763;
    --dark-blue2: rgb(32, 24, 138);
    --light-blue: #185688;
    --white: rgb(255, 255, 255);
    --gray: #969697;
  
  
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
    --third: var(--new-blue);
  
  }
  .night {
    --primary: var(--black);
    --secondary: var(--dark-blue);
    --third: var(--gray)
  }
  .day {
    --primary: var(--light-blue);
    --secondary: var(--dark-blue2);
    --third: var(--white)
  }
 
  body {
    background-image: url();
    font-family: 'Lato', sans-serif
  }

  .apod_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    justify-content: space-around;
    border: 3px black;
    margin: 30px;
    margin-top: 5%;
    border: 8px solid white;
    border-radius: 10px;
    font-size: 8px;
  }

  .img {
    height: 50%;
    width: 50%
  }

  .explanation {
    background-color: aliceblue;
    margin: 10px;
   }