/* font-family: 'Lato', sans-serif; */
/* 
 :root {
    --black: #000;
    --dark-blue: #1F2833;
    --dark-purple: #3e1763;
    --dark-blue2: rgb(32, 24, 138);
    --light-blue: #185688;
    --white: rgb(255, 255, 255);
    --gray: #969697;
  
  
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
    --third: var(--new-blue);
  
  }
  .night {
    --primary: var(--black);
    --secondary: var(--dark-blue);
    --third: var(--gray)
  }
  .day {
    --primary: var(--light-blue);
    --secondary: var(--dark-blue2);
    --third: var(--white)
  } */
 
   body {
    background-image: url("space.jpg");
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .apod_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 14, 51);
    justify-content: space-around;
    border: 3px black;
    margin: 30px;
    margin-top: 5%;
    border: 8px solid white;
    border-radius: 10px;
    font-size: 8px;
  }

  .img {
    height: 30%;
    width: 30%;
    background-color: #6F6895;
    padding: 10px;
  }

  .explanation {
    background-color: aliceblue;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
   }

  .date {
    background-color: white;
    font-size: 20px;
    padding: 5px;
  }

  .title {
    font-size: 30px;
    color: aliceblue;
  }

  #form {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
  }

  .planet_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    border: 3px ;
    margin: auto;
    margin-top: 5%;
    border: 8px solid rgb(19, 14, 51);
    border-radius: 10px;
    font-size: 8px;
    color: rgb(19, 14, 51);
    transition: transform 0.3s ease
  }

  .planet_card:hover {
    transform: translateY(-5px)
  }

  .button {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    color: rgb(19, 14, 51);
    justify-content: center;
    margin: auto;
    display: flex;
    transition: transform 0.3s ease;
    font-size: 15px;
    font-weight: bold;
    border: 8px solid rgb(19, 14, 51);
  }

  .button:hover {
    transform: translateY(-5px)
  }

  

  .hidden {
    display: none;
  }

  #search {
    background-color: white;
    border-radius: 10px;
    color: rgb(19, 14, 51);
    padding: 10px;
    font-size: 15px;
  }

  #btn {
    background-color: white;
    border-radius: 50px;
    color: rgb(19, 14, 51);
    padding: 10px;
    font-size: 15px;
    transition: transform 0.3s ease;
    margin-left: 6px;
    border: 4px solid #6F6895;
  }

  #btn:hover {
    transform: translateY(-5px)
  }

  #label {
    border-radius: 5px;
    color: white;
    size: 30px;
    font-size: 16px; 
    font-weight: bold;
    width: 60px; 
    margin: 5px;
  }

  #title {
    font-size: 3.2rem;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: rgb(19, 14, 51);
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
  }

  .englishName {
    font-size: 20px;
  }

  